
out/t_0.png
out/t_1.png
out/t_source.png
presentació-exemples/conan.jpg
presentació-exemples/conan_0.png
presentació-exemples/conan_1.png
presentació-exemples/conan_small.jpg
presentació-exemples/Exemples.docx
presentació-exemples/Exemples.pdf
presentació-exemples/fox.png
presentació-exemples/fox_0.png
presentació-exemples/fox_1.png
presentació-exemples/hello.jpg
presentació-exemples/hello_0.png
presentació-exemples/hello_1.png
lib/__pycache__/PhotoViewer.cpython-39.pyc
lib/__pycache__/QPhotoViewer.cpython-310.pyc
lib/__pycache__/QPhotoViewer.cpython-39.pyc
lib/__pycache__/QRangeWidgeds.cpython-310.pyc
lib/__pycache__/QRangeWidgeds.cpython-39.pyc
X-03-Panades-Jordi-presetnació.pdf
X-03-Panades-Jordi-programa.zip
X-03-Panades-Jordi-report.docx
Presetnació.pdf
Report.docx
build/Visual Secret Sharing/xref-Visual Secret Sharing.html
build/Visual Secret Sharing/warn-Visual Secret Sharing.txt
build/Visual Secret Sharing/Visual Secret Sharing.pkg
build/Visual Secret Sharing/Visual Secret Sharing.exe.manifest
build/Visual Secret Sharing/Tree-02.toc
build/Visual Secret Sharing/Tree-01.toc
build/Visual Secret Sharing/Tree-00.toc
build/Visual Secret Sharing/PYZ-00.toc
build/Visual Secret Sharing/PYZ-00.pyz
build/Visual Secret Sharing/PKG-00.toc
build/Visual Secret Sharing/EXE-00.toc
build/Visual Secret Sharing/base_library.zip
build/Visual Secret Sharing/Analysis-00.toc
__pycache__/main.cpython-310.pyc
src/lib/__pycache__/PhotoViewer.cpython-39.pyc
src/lib/__pycache__/QPhotoViewer.cpython-310.pyc
src/lib/__pycache__/QPhotoViewer.cpython-39.pyc
src/lib/__pycache__/QRangeWidgeds.cpython-310.pyc
src/lib/__pycache__/QRangeWidgeds.cpython-39.pyc
